body {
    background-color: #f8f9fa;
}

h1 {
    color: #343a40;
}

.card {
    margin-bottom: 20px;
}

#suggestions {
    position: absolute;
    z-index: 1000;
    width: 100%;
}

.btn-favorite {
    background-color: #28a745; /* Vert pour les favoris */
    color: white;
}

/* Styles pour la modal */
.modal {
    display: none; /* Masquer la modal par défaut */
    position: fixed; /* Rester en place */
    z-index: 1; /* Au-dessus des autres éléments */
    left: 0;
    top: 0;
    width: 100%; /* Prendre toute la largeur */
    height: 100%; /* Prendre toute la hauteur */
    overflow: auto; /* Activer le défilement si nécessaire */
    background-color: rgba(0, 0, 0, 0.4); /* Fond semi-transparent */
}

.modal-content {
    background-color: white; /* Couleur de fond de la modal */
    margin: 15% auto; /* Centrer la modal */
    padding: 20px; /* Espacement interne */
    border: 1px solid #888; /* Bordure */
    width: 80%; /* Largeur de la modal */
}

.close {
    color: #aaa; /* Couleur du bouton de fermeture */
    float: right; /* Alignement à droite */
    font-size: 28px; /* Taille de la police */
    font-weight: bold; /* Gras */
}

.close:hover,
.close:focus {
    color: black; /* Couleur au survol */
    text-decoration: none; /* Pas de soulignement */
    cursor: pointer; /* Curseur en main */
}

/* Styles pour les boutons */
.btn-primary {
    background-color: #007bff; /* Couleur du bouton primaire */
    color: white; /* Couleur du texte */
}

.btn-danger {
    background-color: #dc3545; /* Couleur du bouton danger */
    color: white; /* Couleur du texte */
}

.btn-warning {
    background-color: #ffc107; /* Couleur du bouton avertissement */
    color: black; /* Couleur du texte */
}

/* Autres styles */
.container {
    max-width: 800px; /* Largeur maximale du conteneur */
    margin: auto; /* Centrer le conteneur */
    padding: 20px; /* Espacement interne */
}